@model List<Empleado>

<h1>Empleados a lo bruto...</h1>

<ul>
    @foreach (Empleado emp in Model)
    {
        <li>
            @emp.Apellido
            <a asp-controller="Empleados"
                asp-action="Details"
                asp-route-idempleado="@emp.IdEmpleado">
                Detalles
            </a>
        </li>

    }
</ul>